@import "tailwindcss";

@theme {
    /* fonts */
    --font-merriWeather: Merriweather, serif;
    --font-raleway: Karla, sans-serif;

    /* colors */
    --color-white: #FFF9FA;
    --color-grey: #ABABAB;
    --color-black: #281616;
    --color-darkPink: #FE556F;
    --color-lightPink: #FF8C9E;
    --color-red: #E22828;
    --color-green: #009E23;
}